.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box{
    width: 480px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0px 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);

}   

.buttons{
    display: inline;
    
}

.timer{
    margin: 10px;
    font-size: 120px;
    font-weight: bold;
}
.time{
    margin:10px;
}

.start-buttonbox{
    position: relative;
    display: inline-block;
    width: 100%;

}
.start-button{
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    transition: 0.5s ease-in-out 0s;
    font-weight: bold;
    width: 200px;
    background-color: white;
    
}

.stop-button{
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    transition: 0.5s ease-in-out 0s;
    font-weight: bold;
    width: 200px;
    background-color: white;
    transform:translateY(6px);
    box-shadow: none;
    transition: color 0.5s ease-in-out 0s;


}




.counterbox p{
    margin: 0px;
}


.focus p{
    margin: 0px;
    font-size: 18px;
    font-weight: 100;
    color: white;
}

.next-btndiv{
    width: 140px;
    position:absolute;
    right: 0px;
    bottom: -6px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.next-button{
    width: 22px;
    cursor: pointer;
    opacity: 0.9;
}