

.button{
    border: none;
    color: white;
    margin: 0px;
    padding: 2px 12px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 18px;
    height: 28px;
    cursor: pointer;
    background: none;
    font-weight: 300;
    }


.button:focus{
    background: rgba(0, 0, 0, 0.15);
    /* font-weight: bold; */
    
}

.button:active{
    transform: translateY(2px);

}